/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Merriweather:wght@400;900&display=swap');


*{
    margin: 0;
    padding: 0;
}


/* banner styling starts here */
.banner-section{
    width: 82.5%;
    height: 480px;
    margin: auto;
    margin-top: 50px;
    background: linear-gradient(to bottom , #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('../resources/Banner Image.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
}

.banner-greeting{
    color: #FFF;
    text-align: center; 
    font-size: 26px;
    font-weight: 400;
}

.banner-title{
    color: #FFF;
    text-align: center;
    font-size: 58px;
    font-weight: 900;
    line-height: 95px; 
    width: 632px;
    margin-top: 16px;
}
/* banner styling ends here */



/* main part styling starts here */
main{
    width: 82.5%;
    margin: auto;
}

/* discount section styling starts here */
.discount-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter'; 
    margin-top: 96px;
}

.discount-title{
    color: #F00;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}


.discount-holiday{
    color: #F00;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    margin-top: 48px;
}


.discount-categories{
    color: #070211;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin-top: 16px;
}

.discount-image{
    height: 400px;
    width: 641px;
    margin-top: 38px;
}
/* discount section styling ends here */



/* night party section styling starts here */
.nightparty-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left , black ,rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.947)),url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    margin-top: 120px;
}

.nightparty-texts{
    margin-left: 100px;

}

.nightparty-greeting{
    color: #FFF;
    font-family: Merriweather;
    font-size: 51px;
    font-weight: 900;
    line-height: 70px;
    width: 513.6px;
}

.nightparty-details{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
    width: 557px; 
    margin-top: 24px;
}

.join-now{
    padding: 12.8px 25.6px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    background:transparent;
    border: 0;
    cursor: pointer;
}

.join-now1{
    margin-top: 20px;
}

.join-now:hover{
    background: rgb(175, 27, 27);
}

.nightparty-year{
    margin-right: 110px;
}

.nightparty-year img{
    width: 255px;
    height: 371px;
}
/* night party section styling ends here */



/* party location section styling starts here*/
.party-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) , rgba(255, 0, 0, 0.00) 100%);
    height: 308px;
    font-family: Inter;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 45px; 
    margin-top: 120px;
}

.party-location span{
    color: #F00;
}

.join-now2{
    border-radius: 8px;
    background: #F00;
    margin-top: 48px;
}
/* party location section styling ends here*/



/* best offer section styling starts */
.best-offer-section{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 370px;
     margin-top: 120px;
}

.best-offer-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
}

.best-offer-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
 
}

.comming-soon{
    color: #070211;
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
    margin-top: 16px;
}

.best-offer-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    width: 315px;
    margin-top: 22px;
}

.sparkles{
    background: url('../resources/sparkles.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 370px;
    height: 370px;
    box-sizing: border-box;
    border-radius: 50%;
    outline: 12px solid #F00;
    border: 24px solid #FFF;
}

.best-offer-newyear{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.best-offer-year{
    color: #F00;
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
}

.best-offer-details2{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
    width: 220px;
    margin-top: 16px;
}

.best-offer-wishing{
    margin-top: 20px;
}
/* best offer section styling ends */



/* holiday sale section styling starts */
.holiday-sale-section{
     margin-top: 120px;
}

.holiday-sale-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holiday-sale-question{
    color: #070211;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
}

.holiday-sale-title{
    color: #F00;
    font-family: Merriweather;
    font-size: 57px;
    font-weight: 900;
    margin-top: 13px;
}

.holiday-sale-title span{
    color: #070211;
}

.holiday-sale-details{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px; 
    width: 868px;
    margin-top: 22px;
}

.holiday-sale-imgs{
    margin-top: 54px;
    height: 530px;
    background:url('../resources/Group 75.png'),url('../resources/Group 44.png'), url('../resources/Rectangle 2.png'),url('../resources/shopping2.jpg');
    background-repeat: no-repeat;
    background-position: 5% 70%, 63% 20%,bottom, top right;
    background-size: 50% , 25% , 100% 33% , 40% 67% ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* holiday sale section styling ends */



/* portfolio section styling starts */

.portfolio-section{
    margin-top: 96px;
}

.portfolio-opening{
    color: #F00;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
}

.portfolio-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
    line-height: normal;
    margin-top: 13px;
}

.portfolio-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    width: 896px;
    margin-top: 17px;
}

.portfolio-gifts{
    margin-top: 38px;
}

.gifts-row1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gifts-row2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}

.portfolio-gifts img{
    border: 4px transparent solid;
    border-radius: 20px;
    width: 340px;
    height: 360px;
    cursor: pointer;
}

.portfolio-gifts img:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.434);
}

.gift{
    margin-right: 15px;
}



/* portfolio section styling ends */



/* Subscribe section styling starts */
.subscribe-section{
    margin-top: 96px; 
    height: 492px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.subscribe-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
    margin-top: 32px;
}

.subscribe-details{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 22px;  
    width: 716px;
}

.subscribe-img{
     width: 120px;
     height: 120px;
}

.subscribe-inputs{
    margin-top: 38px;
}

.subscribe-inputs input[type='email']{
    width: 350px;
    height: 57px;
    border: 0;
    border-radius: 50px 0 0 50px ;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    padding-left: 24px;
}

.subscribe-inputs input[type='submit']{
    width: 168px;
    height: 57px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0; 
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.subscribe-inputs input[type='submit']:hover{
      background-color: white;
      box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.521);
      color: rgb(247, 0, 0);
}


/* Subscribe section styling ends */
/* main part styling ends here */ 


/* footer part styling starts here */

footer{
    margin-top: 96px;
    width: 100%;
    background: #070211; 
    height: 487px;
}

.footer-content{
     width: 82.5%;
     height: 100%;
     margin: auto;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
}


/* contact section styling starts here */
.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: #FFF;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 32px;
}

.contact-numbers{
    list-style: none;
}

.number{
    display: flex;
    align-items: center;
}

.number span{
    margin-left: 8px;
}
/* contact section styling ends here */

/* social medias section styling starts here */
.social-medias{
     display: flex;
     justify-content: center;
     align-items: center;
}

.social-medias img{
    width: 51px;
    height: 51px;
}

.media{
     margin-right: 16px;
}

/* social medias section styling ends here */


/* copyright section styling starts here */
.copyright-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
}
/* copyright section styling ends here */


/* footer part styling starts here*/